.chat_input_counter {
  padding: 10px;
  padding-left: 40px;
  font-size: 0.875rem;
  text-align: left;
  color: #888;
}

.chat_input_form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 20px;
  margin-bottom: 40px;
}
.chat_input_box {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 10px 16px;
  border-radius: 20px;
  box-sizing: border-box;
}

.chat_input_textarea {
  width: 100%;
  height: 50px;
  border: none;
  font-size: 0.875rem;
  box-sizing: border-box;
  resize: none;
  line-height: 40px;
  overflow: hidden;
}
.chat_input_textarea:focus {
  outline: none;
  border-color: transparent;
}
.chat_input_textarea::placeholder {
  color: #ccc;
  font-size: 0.875rem;
}

.chat_input_placeholder {
  width: 36px;
  height: 36px;
  align-self: flex-end;
}
.chat_input_textarea:disabled {
  color: #fff; /* 글자 색 흰색 */
  background-color: transparent; /* 또는 #fff */
  opacity: 1; /* 흐릿하게 보이는 것 방지 */
}

.chat_input_textarea:disabled::placeholder {
  color: #fff; /* placeholder도 흰색으로 */
  opacity: 1; /* 흐림 방지 */
}
.send_icon {
  cursor: pointer;
}
.chat_spinner_container {
  width: 36px;
  height: 36px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat_spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-top: 3px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
